[Desktop Entry]
Type=Application
Name=Clubhouse
GenericName=eos-clubhouse
Comment=Clubhouse application
Icon=com.hack_computer.Clubhouse
Exec=eos-clubhouse
Terminal=false
StartupNotify=true
X-Endless-HackShader=true
Keywords=hack;learn;code;programming;game;
Keywords[es]=hack;aprender;código;programación;juego;
