[Desktop Entry]
Type=Application
Name=Clubhouse
GenericName=eos-clubhouse
Comment=Clubhouse application
Exec=eos-clubhouse
Terminal=false
StartupNotify=true
