[Desktop Entry]
Type=Application
Name=Clubhouse
GenericName=eos-clubhouse
Comment=Clubhouse application
Icon=com.endlessm.Clubhouse
Exec=eos-clubhouse
Terminal=false
StartupNotify=true
NoDisplay=true
X-Endless-HackShader=true
