@import 'old-gtk-style'

Message
  .button-box
    button
      $default_margin: 14px
      $color_variant_a: #76EECF
      $color_variant_b: #37DCB1
      $color_variant_c: #32BBA4
      $color_variant_d: #2D9B98
      $default_color: $color_variant_d

      // This is the default for buttons after the 3rd one (unlikely).
      background: $default_color
      border-radius: 20px

      &:nth-child(0)
        background: linear-gradient(to right, $color_variant_a, $color_variant_b)
      &:nth-child(1)
        background: linear-gradient(to right, $color_variant_b, $color_variant_c)
      &:nth-child(2)
        background: linear-gradient(to right, $color_variant_c, $color_variant_d)

      $color_variant_hover_a: lighten($color_variant_a, 10%)
      $color_variant_hover_b: lighten($color_variant_b, 10%)
      $color_variant_hover_c: lighten($color_variant_c, 10%)
      $color_variant_hover_d: lighten($color_variant_d, 10%)
      $color_variant_hover_default: $color_variant_hover_d
      &:hover
        background: $color_variant_hover_default
        &:nth-child(0)
          background: linear-gradient(to right, $color_variant_hover_a, $color_variant_hover_b)
        &:nth-child(1)
          background: linear-gradient(to right, $color_variant_hover_b, $color_variant_hover_c)
        &:nth-child(2)
          background: linear-gradient(to right, $color_variant_hover_c, $color_variant_hover_d)

      $color_variant_active_a: darken($color_variant_a, 10%)
      $color_variant_active_b: darken($color_variant_b, 10%)
      $color_variant_active_c: darken($color_variant_c, 10%)
      $color_variant_active_d: darken($color_variant_d, 10%)
      $color_variant_active_default: $color_variant_active_d
      &:active
        background: $color_variant_active_default
        &:nth-child(0)
          background: linear-gradient(to right, $color_variant_active_a, $color_variant_active_b)
        &:nth-child(1)
          background: linear-gradient(to right, $color_variant_active_b, $color_variant_active_c)
        &:nth-child(2)
          background: linear-gradient(to right, $color_variant_active_c, $color_variant_active_d)

      label
        margin-right: $default_margin
        margin-left: $default_margin
        // Force to vertically align the text.
        margin-top: 4px
        min-width: 85px

      image
        color: white

      &.nondefault
        label
          // The icon has already a margin. If this margin is set, a double margin will be viewed.
          margin-left: unset
        image
          color: white
          padding: $default_margin / 2


QuestSetInfoTip
  background-color: transparentize(#2A2368FF, 0.1)
  color: white
  padding: 20px
  border-radius: 40ex
  padding: 1ex 2ex 1ex 2ex
  opacity: 0.0
  transition: opacity .55s ease-in-out

  &.visible
    opacity: 1.0

  box
    box
      margin-left: 1ex

      label
        color: white

        &:nth-child(2)
          font-weight: bold


// Nav buttons attract state
@keyframes pulsate_nav
    from
      box-shadow: 0 0 1px white
    to
      box-shadow: 0 0 10px white

.nav-attract
  animation-name: pulsate_nav
  animation-duration: 1s
  animation-direction: alternate
  animation-timing-function: ease
  animation-iteration-count: infinite
  box-shadow: 0 0 10px white

// Character View
CharacterView
  list
    background-color: unset

  #mission-list
    margin: 0 1em 1em 0
    min-height: 42em

  scrollbar
    border: 0
    border-radius: 1ex
    background: rgba(255, 255, 255, 0.3)

    slider
      background-color: white
      padding: 0
      border: 0
      margin: 1px

// QuestCard
QuestCard
  border-radius: 1em
  min-height: 20em
  margin: 1ex

  #topbox,
  #topbox > box
    border-radius: 1em 1em 0 0

  #bottombox
    background: white
    padding: 1ex
    border-radius: 0 0 1em 1em

    button
      color: white
      border-radius: 1em
      background: #1e2c66
      padding: 0.25em 1em

  #title,
  #subtitle
    font-weight: bold

  #subtitle,
  #description
    padding-top: 1ex

  box.difficulty
    background: white

    &.secondary
      separator
        min-height: 0.35em

    separator
      min-height: 0.7em
      background: unset

      &:nth-child(2)
        margin: 0 0.2em

  &.EASY
    #subtitle
      color: #00efae

    &:hover,
    &:selected
      #topbox > box
        background: linear-gradient(to top right, rgba(#00efae, 0.75), rgba(#00ff15, 0.2))

    box.difficulty
      separator:first-child
        background: linear-gradient(to top right, #00efae, #00ff15)

  &.NORMAL
    #subtitle
      color: #ff6300

    &:hover,
    &:selected
      #topbox > box
        background: linear-gradient(to top right, rgba(#f3cb14, 0.75), rgba(#fe9915, 0.2))

    box.difficulty
      separator:first-child
        background: linear-gradient(to top right, #f3cb14, #ff9800)
      separator:nth-child(2)
        background: linear-gradient(to top right, #ff9600, #ff6300)

  &.HARD
    #subtitle
      color: #fc0806

    &:hover,
    &:selected
      #topbox > box
        background: linear-gradient(to top right, rgba(#ff007e, 0.75), rgba(#ff0168, 0.2))

    box.difficulty
      separator:first-child
        background: linear-gradient(to top right, #ff007e, #ff0168)
      separator:nth-child(2)
        background: linear-gradient(to top right, #ff004c, #fe2d33)
      separator:last-child
        background: linear-gradient(to top right, #ff003b, #fc0806)
