.clubhouse-page {
    background-image: url('resource:///com/endlessm/Clubhouse/images/clubhouse_bg.png');
}

.inventory-page {
    background-image: url('resource:///com/endlessm/Clubhouse/images/inventory_bg.png');
}

.episodes-page {
    background-image: url('resource:///com/endlessm/Clubhouse/images/episodes_bg.png');
}

.clubhouse-message-box {
    background-color: rgba(255, 255, 255, .96);
    border-radius: 12px;
    border: 1px solid #8A6A45;
    box-shadow: 0 2px 8px 8px alpha(black,0.4);
    margin: 0 20px 37.5px 20px;
}

.clubhouse-message-label {
    padding: 30px 0 15px 0;
    margin: 0 153px 17.5px 30px;
    font: 15px "Metropolis Medium, Sans-Serif";
}

.clubhouse-message-character {
    margin: 0 20px 21.5px 0;
}

.clubhouse-message-button-box {
    margin: 0 0 21px 50px;
}

.clubhouse-message-button-box button {
    background: linear-gradient(to right, #E97C28, #CE5611);
    border-radius: 17.5px;
    border: none;
    padding: 5px 0;
    margin: 0 12px 0 0;
    font: 15px "Metropolis Medium, Sans-Serif";
    box-shadow: 0 2px 4px 4px alpha(black,0.2);
}

.clubhouse-message-button-box button > label {
    color: white;
    font-size: 15px;
    margin: 0 10px;
}

.quest-set-button {
    border: none;
    background-image: radial-gradient(50px 10px ellipse at center 95%, gray, transparent);
}

.quest-set-button:hover {
    background-image: radial-gradient(50px 10px ellipse at center 95%, #dfdfdf 40%, transparent);
}


@keyframes pulsate_background {
  from { background-image: radial-gradient(50px 10px ellipse at center 95%, gray 40%, transparent); }
  to { background-image: radial-gradient(50px 10px ellipse at center 95%, orange 40%, transparent); }
}

.quest-set-button.highlighted {
  animation-name: pulsate_background;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.quest-window {
    background: white;
}

.character-message-side-button {
    background: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 5px 5px 0 0;
}

.clubhouse-button-box {
    margin-bottom: 25px;
}

.clubhouse-button-box > button > label {
    color: white;
}

.clubhouse-button-box > button {
    background: rgba(40, 40, 40, .9);
    border: none;
    border-left: 1px solid black;
    border-radius: 0;
}

.clubhouse-button-box > button:first-child {
    border: none;
    border-radius: 20px 0 0 20px;
}

.clubhouse-button-box > button:last-child {
    border: none;
    border-left: 1px solid black;
    border-radius: 0 20px 20px 0;
}

.clubhouse-button-box > button:checked {
    background: rgba(244, 228, 216, .9);
}

.clubhouse-button-box > button:checked > label {
    color: black;
}

.clubhouse-button-box > button:hover:not(:checked) {
    background: rgba(40, 40, 40, .6);

}

.inventory-item > label {
    color: #fff;
    background: rgba(100, 100, 100, .8);
    border-radius: 16px;
    padding: 5px;
}

.inventory-scrolled-window {
    margin-bottom: 85px
}

.inventory-scrolled-window > scrollbar {
    background: rgba(0, 0, 0, .5);
    padding: 4px;
    border: none;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 10px;
}

.inventory-scrolled-window > scrollbar:hover {
    background: rgba(0, 0, 0, .7);
}

.inventory-scrolled-window > scrollbar slider {
    background: rgba(234, 189, 141, .7);
    min-width: 1px
}

.inventory-scrolled-window > scrollbar slider:hover {
    background: rgba(223, 166, 106, .8);
}
