// Globals
$images: 'resource:///com/hack_computer/Clubhouse/images/'

// Common widgets

*
  outline: none

// Button
button
  border: 0
  padding: 0
  margin: 0
  box-shadow: none
  background-image: none
  min-height: unset

// Scrollbar
scrollbar
  border: 0
  border-radius: 1ex
  background: transparentize(white, 0.7)

  slider
    background-color: white
    padding: 0
    border: 0
    margin: 2px

  slider:hover
    background-color: darken(white, 10%)

// Menu popovers
popover.menu
  background-color: transparentize(white, 0.1)

  > stack > box > button
    font-size: 1.4em
    padding: 1ex 1em

    &:hover
      background: linear-gradient(to bottom right, transparentize(#2D9B98, 0.7), transparentize(#22597F, 0.7))

    > box > image
      -gtk-icon-shadow: none
      margin-right: 1ex
      color: #4387c5

// Window
@keyframes background_zoom_in
    from
      background-size: 100%
    to
      background-size: 200%

ClubhouseWindow
  border-radius: 1ex
  background-color: unset
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  background-image: url('resource:///com/hack_computer/Clubhouse/images/clubhouse_bg-blur.jpg')
  transition: background-image 200ms linear

  // Responsive resolution:
  // Main window will have 'small' class if screen resolution is 720p or less and
  // 'big' if its 1080p or more.
  font-size: 14px

  &.small
    font-size: 12px

  &.big
    font-size: 16px

  &.transitionable-background
    transition: background-image 1s linear

  // Headerbar
  headerbar
    padding: 0
    border-radius: 1ex 1ex 0 0
    border-width: 0px
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0))

    > button
      margin: 1ex
      padding: 1ex
      border-radius: 50%

      &:hover
        background-color: transparentize(white, 0.5)

    // Header bar buttons.
    .headerbar-buttonbox
      $color_variants: #37DCB1, #2D9B98, #22597F, #181866

      @function bg($index, $alpha)
        $color_a: transparentize(nth($color_variants, $index), $alpha)
        $color_b: transparentize(nth($color_variants, $index % length($color_variants) + 1), $alpha)
        @debug $color_b
        @return linear-gradient(to bottom right, $color_a, $color_b)

      // The headerbar button background.
      @mixin nth_child_bg($nth_child, $color_index)
        &:nth-child(#{$nth_child})
          background: bg($color_index, 0.2)
          &:hover
            background: bg($color_index, 0)
          &:checked
            background: bg($color_index, 0.05)

      min-height: 1.8em
      margin: 2em 1ex
      font-size: 1.4em
      font-weight: bold

      // For spacing.
      > label
        margin: 0 1.5em

      > button
        color: white
        text-shadow: none
        border: 0
        margin: 0
        padding: 3px /* this is the border offset for checked state and needs to be in pixels to avoid rounding errors */
        border-radius: 3em
        box-shadow: 1px 1px 3px black
        transition: none
        transition: background-image 200ms linear

        @include nth_child_bg($nth_child: 1, $color_index: 1)
        @include nth_child_bg($nth_child: 3, $color_index: 2)
        @include nth_child_bg($nth_child: 5, $color_index: 3)

        &:checked
          padding: 0
          border: 3px solid white

        label
          margin: 0 1em

      &.CHARACTER
        > button
          @include nth_child_bg($nth_child: 1, $color_index: 1)
          @include nth_child_bg($nth_child: 2, $color_index: 3)

      // Headerbar buttons in character view.
      &.CHARACTER
         > button
          &:first-child
            border-radius: 3em 0 0 3em

          &:last-child
            border-radius: 0 3em 3em 0

          > box
            > label
              margin: 0 1em 0 0

            > button
              > image
                min-width: 1.8em
                min-height: 1.8em
                margin: -3px
                margin-left: -2ex
                margin-right: 1ex
                border-radius: 50%
                color: #37DCB1
                background: white

  // User Hud/Profile
  .user-overlay
    margin: 0em

    #user-label
      margin: 1em 1em 1em 4.32em
      font-size: 1.2em
      font-weight: bold

  #image.user-overlay
    margin: 1em
    min-width: 5em
    min-height: 5em
    border-radius: 50%
    border: 0.2ex solid white
    box-shadow:  1px 1px 2px #555
    background-color: #2D9B98
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    > label
      font-size: 2em
      font-weight: bold

  // Backgrounds
  &.CLUBHOUSE
    background-image: url('resource:///com/hack_computer/Clubhouse/images/clubhouse_bg.jpg')

    &.off
      background-image: url('resource:///com/hack_computer/Clubhouse/images/clubhouse_bg-off.jpg')

  &.off
    background-image: url('resource:///com/hack_computer/Clubhouse/images/clubhouse_bg-blur-off.jpg')

    headerbar > button
      color: gray

      &:hover
        background-color: transparentize(white, 0.8)

  &.CHARACTER
    animation: background_zoom_in 500ms normal ease 1
    background-size: 200%
    transition: none

    &.ada
      background-position: top left

    &.estelle
      background-position: 65% top

    &.faber
      background-position: center 75%

    &.riley
      background-position: left 85%

    &.saniel
      background-position: bottom right

  &.NEWS
    headerbar > button:hover
      background-color: transparentize(black, 0.8)


MessageButton
  $color_variant_a: #76EECF
  $color_variant_b: #37DCB1
  $color_variant_c: #32BBA4
  $color_variant_d: #2D9B98

  $color_variant_hover_a: lighten($color_variant_a, 10%)
  $color_variant_hover_b: lighten($color_variant_b, 10%)
  $color_variant_hover_c: lighten($color_variant_c, 10%)
  $color_variant_hover_d: lighten($color_variant_d, 10%)

  $color_variant_active_a: darken($color_variant_a, 10%)
  $color_variant_active_b: darken($color_variant_b, 10%)
  $color_variant_active_c: darken($color_variant_c, 10%)
  $color_variant_active_d: darken($color_variant_d, 10%)

  $color_variant_hover_default: $color_variant_hover_d
  $color_variant_active_default: $color_variant_active_d
  $default_color: $color_variant_d

  // This is the default for buttons after the 3rd one (unlikely).
  background: $default_color
  border-radius: 2em
  padding: 0.6em
  margin: 0.6em
  box-shadow: 0 0.2em 0.3em transparentize(black, 0.8)
  text-shadow: 0 1px 3px transparentize(black, 0.6)
  min-width: 7em

  &:nth-child(0)
    background: linear-gradient(to right, $color_variant_a, $color_variant_b)
  &:nth-child(1)
    background: linear-gradient(to right, $color_variant_b, $color_variant_c)
  &:nth-child(2)
    background: linear-gradient(to right, $color_variant_c, $color_variant_d)


  &:hover
    background: $color_variant_hover_default
    &:nth-child(0)
      background: linear-gradient(to right, $color_variant_hover_a, $color_variant_hover_b)
    &:nth-child(1)
      background: linear-gradient(to right, $color_variant_hover_b, $color_variant_hover_c)
    &:nth-child(2)
      background: linear-gradient(to right, $color_variant_hover_c, $color_variant_hover_d)

    image
      -gtk-icon-shadow: none

  &:active
    background: $color_variant_active_default
    &:nth-child(0)
      background: linear-gradient(to right, $color_variant_active_a, $color_variant_active_b)
    &:nth-child(1)
      background: linear-gradient(to right, $color_variant_active_b, $color_variant_active_c)
    &:nth-child(2)
      background: linear-gradient(to right, $color_variant_active_c, $color_variant_active_d)

  label
    // Force to vertically align the text.
    margin-top: 0.25em
    min-width: 3em

    color: white
    text-shadow: 0 0.5px 2px transparentize(black,0.6)

    &.text-button
      margin: 0 0.6em
      min-width: 5em

  image
    color: white
    -gtk-icon-shadow: none

  &.icon-button
    min-width: 3em
    min-height: 3em
    border-radius: 50%
    padding: 0


Message
  $bg_color: rgba(255, 255, 255, .96)
  $border_color: #8A6A45

  font-family: "Metropolis Medium, Sans-Serif"

  > #message-box
    margin: 1em 1em 1em 2em
    background-color: $bg_color
    border-radius: 0.75em
    border: 1px solid $border_color
    box-shadow: 0 2px 1ex 1ex transparentize(black,0.8)
    transition: margin-bottom 400ms ease

    > label
      transition: margin-bottom 400ms ease
      margin: 1em

  > #button-box
    transition: all 600ms ease
    min-height: 3em
    margin-bottom: 2em
    opacity: 0

  &.has-buttons
    > #message-box
      margin-bottom: 2em

      > label
        margin-bottom: 1.5em

    > #button-box
      margin-bottom: 0
      opacity: 1

  &.has-character
    > #message-box
      margin-left: 3em

      > label
        margin-right: 0

      > image
        // Let the character overlap label and parent box margins
        margin-top: -1.8em

        // Most character have too much right padding
        margin-right: -0.8em

        // Images have 33px of space at the bottom, we need to adjust this
        // programatically depending on the scale of the main window
        margin-bottom: -33px

        // Special case felixnet to make his tail be out of the msg box
        &.felixnet
          margin-right: -3.2em

    > #button-box
      margin-left: 1em


MessageBox
  min-width: 50em
  margin-bottom: 0.5em

  > revealer
    opacity: 0
    transition: opacity 1s ease

    &.visible
      opacity: 1

    > revealer
      padding-left: 0.5em

      > Message.has-character > #message-box
        margin-right: 20em


// CharacterButton
@keyframes pulsate_background
  from
    background-image: radial-gradient(35% 8% ellipse at center 88%, transparentize(#D9A784,0.6), transparentize(white,0.999))
  to
    background-image: radial-gradient(50% 10% ellipse at center 90%, transparentize(#D9A784,0.1), transparentize(white,0.999))

CharacterButton
  border: none
  box-shadow: none
  -gtk-icon-shadow: none
  padding-bottom: 20px
  background-image: radial-gradient(35% 8% ellipse at center 88%, transparentize(black,0.6), transparent)

  &:hover
    background-image: radial-gradient(50% 10% ellipse at center 90%, transparentize(#D9A784,0.1), transparentize(white,0.999))

  &.highlighted
    animation-name: pulsate_background
    animation-duration: 1s
    animation-direction: alternate
    animation-timing-function: ease
    animation-iteration-count: infinite


QuestSetInfoTip
  background-color: transparentize(#2A2368FF, 0.1)
  color: white
  border-radius: 40ex
  padding: 2ex 4ex
  opacity: 0.0
  transition: opacity .55s ease-in-out

  &.visible
    opacity: 1.0

  box
    box
      margin-left: 1ex

      label
        color: white
        font-size: 1.4em

        &:nth-child(2)
          font-weight: bold


AchievementItem
  $default_badge_size: 8em

  min-width: $default_badge_size
  min-height: $default_badge_size
  margin-bottom: 1em

  button
    background-size: $default_badge_size $default_badge_size
    background-repeat: no-repeat
    background-position: center


AchievementsView
  background-color: rgba(255, 255, 255, 0.9)
  color: gray

  .title-box
    $hover_color: #FF0079

    padding: 3ex 0em

    .hover
      color: $hover_color

  scrolledwindow
    border: 0

    scrollbar
      background: none

      slider
        background-color: lightgray

      slider:hover
        background-color: darken(lightgray, 10%)

    viewport
       margin: 0 1em


AchievementSummaryView
  $default_badge_size: 8em

  .image
    min-width: $default_badge_size
    min-height: $default_badge_size
    background-size: $default_badge_size $default_badge_size
    background-repeat: no-repeat
    background-position: center
    margin: 1em

  label
    &.title
      font-size: 1.4em
      font-weight: bold

    &.description
      padding: 2em
      padding-bottom: 3em

button.user-button
  $default_color: #FFFFFF
  $default_bg_color_left: #FB3102
  $default_bg_color_right: #D80232
  $default_hover_bg_color_left: #F9682D
  $default_hover_bg_color_right: #E84E5E
  $default_active_bg_color_left: #FB1435
  $default_active_bg_color_right: #DB0066

  box-shadow: 1px 1px 2px black
  margin: 0.75em 0.75em 0em 0.75em
  border-radius: 2em

  color: $default_color
  background: linear-gradient(to bottom right, $default_bg_color_left, $default_bg_color_right)

  &:hover
    background: linear-gradient(to bottom right, $default_hover_bg_color_left, $default_hover_bg_color_right)

  &:active
    background: linear-gradient(to bottom right, $default_active_bg_color_left, $default_active_bg_color_right)


box.user-button-box
  margin: 1em

.achievements-view-box
  margin-left: 2.5em
  margin-right: 2.5em


// Buttons attract state
@keyframes pulsate_shadow
    from
      box-shadow: 0 0 1px white
    to
      box-shadow: 0 0 10px white

.nav-attract, .button-attract
  animation-name: pulsate_shadow
  animation-duration: 1s
  animation-direction: alternate
  animation-timing-function: ease
  animation-iteration-count: infinite
  box-shadow: 0 0 10px white

// Character View
CharacterView
  list
    background-color: unset

  #mission-list
    margin: 5em 1em 1em 0
    min-height: 42.4em

  scrollbar
    margin: 0.5em 0 0.5em 0.5em

@keyframes zoom_in
    from
      background-size: 100%
    to
      background-size: 110%

@keyframes zoom_out
    from
      background-size: 110%
    to
      background-size: 100%

// ActivityCard
ActivityCard
  $easy_color_a: #37DCB1
  $easy_color_b: #00E718
  $normal_color_a: #EFBE2D
  $normal_color_b: #FF6B00
  $hard_color_a: #F92781
  $hard_color_b: #FF0000

  border-radius: 1em
  min-height: 20em
  margin: 0.5em
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)

  #topbox
    background-size: cover
    background-position: top
    animation: zoom_out 250ms ease

    image
      border-top-right-radius: 1em
      background: linear-gradient(to top right, transparent 50%, white 51%)

  #topbox,
  #topbox > box
    border-radius: 1em 1em 0 0
    transition: background-image 150ms ease

  #bottombox
    background: white
    padding: 0.8em
    border-radius: 0 0 1em 1em

    image
      border-radius: 50%
      padding: 0.4em
      color: white

    #play
      $normal_color: #181866
      $complete_color: #37DCB1

      color: white
      text-shadow: none
      border-radius: 1em
      margin-top: 1ex
      background: $normal_color

      > label
        padding: 0.4em 1em 0.6em 1em

      &:hover
        background: lighten($normal_color, 20%)

      &.complete
        background: $complete_color

      &.complete:hover
        background: darken($complete_color, 10%)

      &:disabled,
      &:disabled.complete
        background: lightgray

    #tagsview
      margin-left: 1em

      label
        color: black
        border-radius: 0.8em
        padding: 0.3em 0.8em
        margin-bottom: 0.3em
        background: lightgray

  #title
    min-height: 3em
    font-weight: bold

  stack,
  stackswitcher
    margin-top: 1ex

  stackswitcher
    button
      padding: 0
      color: gray
      font-weight: bold
      min-width: unset
      background: unset

      label
        padding: 0

    button + button
      padding-left: 1ex

  box.difficulty
    background: white
    transition: min-height 250ms ease
    min-height: 0.8em

    separator
      background: unset

      &:nth-child(2)
        margin: 0 0.2em

  separator.difficulty
    margin-top: 1ex
    min-height: 0.4em
    min-width: 5em

  &:hover
    #topbox
      animation: zoom_in 250ms ease
      background-size: 110%

    box.difficulty
      min-height: 0.4em

  &:selected:hover
    #topbox
      animation: unset

  &:selected
    margin: 0
    transition: margin 200ms ease

    #title
      min-height: 0
      transition: min-height 250ms ease

    #topbox
      transition: background-size 150ms ease
      background-size: 110%
      animation: unset

  &.EASY
    stackswitcher > button:checked
      color: $easy_color_a

    &:hover,
    &:selected
      #topbox > box
        background: linear-gradient(47.32deg, $easy_color_a, rgba(4,231,34,0.45) 43.02%, rgba(2,231,30,0))

    separator.difficulty,
    box.difficulty > separator:first-child
      background: linear-gradient(to right, $easy_color_a, $easy_color_b)

  &.NORMAL
    stackswitcher > button:checked
      color: $normal_color_a

    &:hover,
    &:selected
      #topbox > box
        background: linear-gradient(49.74deg, $normal_color_a, rgba(255,107,0,0.49) 53.66%, rgba(255,107,0,0))

    separator.difficulty
      background: linear-gradient(to right, $normal_color_a, $normal_color_b)

    box.difficulty
      $mix_color: mix($normal_color_a, $normal_color_b, 33%)
      separator:first-child
        background: linear-gradient(to right, $normal_color_a, $mix_color)
      separator:nth-child(2)
        background: linear-gradient(to right, $mix_color, $normal_color_b)

  &.HARD
    stackswitcher > button:checked
      color: $hard_color_a

    &:hover,
    &:selected
      #topbox > box
        background: linear-gradient(46.17deg, rgba(249,39,129,0.9), rgba(252,68,74,0.5) 44.52%, rgba(252,68,74,0))

    separator.difficulty
      background: linear-gradient(to right, $hard_color_a, $hard_color_b)

    box.difficulty
      $mix_color_a: mix($hard_color_a, $hard_color_b, 33%)
      $mix_color_b: mix($hard_color_a, $hard_color_b, 66%)
      separator:first-child
        background: linear-gradient(to right, $hard_color_a, $mix_color_a)
      separator:nth-child(2)
        background: linear-gradient(to right, $mix_color_a, $mix_color_b)
      separator:last-child
        background: linear-gradient(to right, $mix_color_b, $hard_color_b)


// News Page
ClubhouseWindow.NEWS
  background-image: url('resource:///com/hack_computer/Clubhouse/images/clubhouse_news_bg.jpg')

  headerbar
    background-size: cover
    background-image: url('resource:///com/hack_computer/Clubhouse/images/clubhouse_news_fg.png')

NewsView
  $default_margin: 2em

  margin-right: 3em

  box

    &.social
      margin: 0 0 $default_margin 0

      box
        padding: 1em
        border-radius: 3em
        background: transparentize(white, 0.2)

        button
          margin: 1em 0.8em

    &.news
      scrolledwindow
        background: unset
        margin-top: 5em

        viewport > box
          margin-top: 2em

        scrollbar
          margin: 3em 2.5em 1em 0

          slider
            background: lightgray

          slider:hover
            background: gray

popover.NewsView
  padding: 1em
  background: transparentize(white, 0.2)

  image
    margin-right: 1em


NewsItem
  $default_margin: 1.75em

  font-size: 1.2em
  margin: 1ex $default_margin
  border-radius: 1em
  background: white
  box-shadow: 2px 2px 3px gray

  #title
    color: #181866
    font-weight: bold

  #date
    color: gray

  > box
    margin: 1em

    *:nth-child(2)
      margin-left: 1em


ClubhouseViewMainLayer
  $switchdir: $images + 'hack-switch/'

  @keyframes off_attract_pulsate
    from
      background-image: url($switchdir + 'OFF-hover.png')
    to
      background-image: url($switchdir + 'OFF-attract.png')

  @keyframes on_attract_pulsate
    from
      background-image: url($switchdir + 'ON-hover.png')
    to
      background-image: url($switchdir + 'ON-attract.png')

  #hack-switch
    background-size: cover
    background-image: url($switchdir + 'switch.svg')

  #hack-switch-panel
    background-size: cover
    background-image: url($switchdir + 'ON.png')

    &.off
      background-image: url($switchdir + 'OFF.png')

  #hack-switch-button
    background-size: cover
    background-image: url($switchdir + 'OFF-static.png')

    &:hover
      background-image: url($switchdir + 'OFF-hover.png')

    &.highlighted
      background-image: url($switchdir + 'OFF-attract.png')
      animation: off_attract_pulsate 500ms ease-in-out alternate infinite

    &:checked
      background-image: url($switchdir + 'ON-static.png')

      &:hover
        background-image: url($switchdir + 'ON-hover.png')

      &.highlighted
        background-image: url($switchdir + 'ON-attract.png')
        animation: on_attract_pulsate 500ms ease-in-out alternate infinite

  #banister
    background-size: cover
    background-image: url($images + 'banister.png')
    transition: background-image 200ms linear

ClubhouseWindow.off
  ClubhouseViewMainLayer
    #banister
      background-image: url($images + 'banister-off.png')

ScalableImage
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
