.clubhouse-page {
    background-image: url('resource:///com/endlessm/Clubhouse/images/clubhouse_bg.png');
}

.inventory-page {
    background-image: url('resource:///com/endlessm/Clubhouse/images/inventory_bg.png');
}

.episodes-page.episode1, .episodes-page.cesdemo {
    background-image: url('resource:///com/endlessm/Clubhouse/images/episode1_bg.png');
}

.episodes-page.completed {
    background-image: url('resource:///com/endlessm/Clubhouse/images/episodes_completed_bg.png');
}

.clubhouse-message-box {
    background-color: rgba(255, 255, 255, .96);
    border-radius: 12px;
    border: 1px solid #8A6A45;
    box-shadow: 0 2px 8px 8px alpha(black,0.2);
    margin: 0 20px 37.5px 20px;
    min-height: 110px;
}

.clubhouse-message-label {
    padding: 30px 0 15px 0;
    margin: 0 153px 17.5px 30px;
    font: 15px "Metropolis Medium, Sans-Serif";
}

.clubhouse-message-character {
    margin: 0 20px 5.5px 0;
}

.clubhouse-message-button-box {
    margin: 0 0 21px 50px;
}

.clubhouse-message-button-box button {
    background: #CE5611;
    border-radius: 17.5px;
    border: none;
    padding: 5px;
    margin: 0 12px 0 0;
    font: 15px "Metropolis Medium, Sans-Serif";
    box-shadow: 0 2px 4px 4px alpha(black,0.2);
}

.clubhouse-message-button-box button image,
.clubhouse-message-button-box button:hover image {
    -gtk-icon-shadow: none;
}

.clubhouse-message-button-box button:hover {
    background: #D56F34;
}

.clubhouse-message-button-box button:active {
    background: #Af490E;
}

.clubhouse-message-button-box button label {
    color: white;
    text-shadow: 0 0.5px 2px alpha(black,0.4);
    font-size: 15px;
    margin: 0 10px 0 5px;
    min-width: 60px
}

.clubhouse-message-button-box button.text-button label {
    margin: 0 10px;
    min-width: 85px
}

.quest-set-button {
    border: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    padding-bottom: 20px;
    background-image: radial-gradient(50px 20px ellipse at center 88%, alpha(black,0.4), transparent);
}

.quest-set-button:hover {
    background-image: radial-gradient(75px 30px ellipse at center 90%, alpha(#D9A784,0.9), alpha(white,0.001));
}


@keyframes pulsate_background {
    from { background-image: radial-gradient(50px 20px ellipse at center 88%, alpha(#D9A784,0.4), alpha(white,0.001)); }
    to { background-image: radial-gradient(75px 30px ellipse at center 90%, alpha(#D9A784,0.9), alpha(white,0.001)); }
}

.quest-set-button.highlighted {
  animation-name: pulsate_background;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.quest-window {
    background: white;
}

.character-message-side-button {
    background: transparent;
    color: #8A6A45;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 5px 5px 0 0;
    box-shadow: none;
}

.clubhouse-button-box {
    margin-bottom: 25px;
}

.clubhouse-button-box > button > label {
    color: white;
    text-shadow: none;
}

.clubhouse-button-box > button {
    background: rgba(40, 40, 40, .9);
    border: none;
    border-left: 1px solid black;
    border-radius: 0;
    box-shadow: none;
}

.clubhouse-button-box > button:first-child {
    border: none;
    border-radius: 20px 0 0 20px;
}

.clubhouse-button-box > button:last-child {
    border: none;
    border-left: 1px solid black;
    border-radius: 0 20px 20px 0;
}

.clubhouse-button-box > button:checked {
    background: rgba(244, 228, 216, .9);
}

.clubhouse-button-box > button:checked > label {
    color: black;
}

.clubhouse-button-box > button:hover:not(:checked) {
    background: rgba(40, 40, 40, .6);

}

.inventory-item > label {
    color: #fff;
    background: rgba(100, 100, 100, .8);
    border-radius: 16px;
    padding: 5px;
}

.inventory-scrolled-window {
    margin-bottom: 85px
}

.inventory-scrolled-window > scrollbar {
    background: rgba(0, 0, 0, .5);
    padding: 4px;
    border: none;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 10px;
}

.inventory-scrolled-window > scrollbar:hover {
    background: rgba(0, 0, 0, .7);
}

.inventory-scrolled-window > scrollbar slider {
    background: rgba(234, 189, 141, .7);
    min-width: 1px
}

.inventory-scrolled-window > scrollbar slider:hover {
    background: rgba(223, 166, 106, .8);
}

.clubhouse-completed-episode-headline {
    font: 34px "Metropolis ExtraBold, Sans-Serif";
    font-weight: bold;
    color: #1c7c77;
    margin: 0 10px 164px 170px;
}

.clubhouse-empty-inventory-title,
.clubhouse-completed-episode-title {
    font: 18px "Metropolis, Sans-Serif";
    font-weight: bold;
}

.clubhouse-empty-inventory-title {
    margin-bottom: 50px;
}

.clubhouse-completed-episode-title {
    margin: 0 40px 20px 40px;
}

.clubhouse-empty-inventory-subtitle,
.clubhouse-completed-episode-subtitle {
    font: 15px "Metropolis Medium, Sans-Serif";
}

.clubhouse-completed-episode-subtitle {
    margin: 0 40px 140px 40px;
}
