/* Responsive resolution:
 * Main window will have 'small' class if screen resolution is 720p or less and
 * 'big' if its 1080p or more.
 */
ClubhouseWindow.small {
    font-size: 12px;
}

ClubhouseWindow {
    font-size: 14px;
}

ClubhouseWindow.big {
    font-size: 16px;
}

/* Common */

button {
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    background-image: none;
}

/* Main UI components */

ClubhouseWindow, headerbar {
    border-radius: 1ex 1ex 0 0; /* Make window top corners round */
}

headerbar {
    border-width: 0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0)); /* Allow window bg be shown */
}

headerbar > button {
    padding: 1ex;
    margin-right: 1ex;
}

ClubhouseWindow.transitionable-background {
    transition: background-image 1s linear;
}

/* Window */
ClubhouseWindow {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('resource:///com/hack_computer/Clubhouse/images/clubhouse_bg-blur.jpg');
    transition: background-image 200ms linear;
}

ClubhouseWindow.CLUBHOUSE {
    background-image: url('resource:///com/hack_computer/Clubhouse/images/clubhouse_bg.jpg');
}

ClubhouseWindow.CLUBHOUSE.off {
    background-image: url('resource:///com/hack_computer/Clubhouse/images/clubhouse_bg-off.jpg');
}

ClubhouseWindow.CHARACTER {
    background-image: url('resource:///com/hack_computer/Clubhouse/images/character_bg.jpg');
}

EpisodesView {
    background-image: url('resource:///com/hack_computer/Clubhouse/images/episodes_bg.png');
}

EpisodesView .episodes-list {
    background: transparent;
    margin-top: 36px;
}

Message .box {
    background-color: rgba(255, 255, 255, .96);
    border-radius: 12px;
    border: 1px solid #8A6A45;
    box-shadow: 0 2px 8px 8px alpha(black,0.2);
    margin: 0 20px 37.5px 20px;
    min-height: 110px;
}

Message .label {
    padding: 30px 0 15px 0;
    margin: 0 15px 17.5px 30px;
    font: 15px "Metropolis Medium, Sans-Serif";
}

Message .character {
    margin: 0 20px 5.5px 0;
}

Message .button-box {
    margin: 0 0 21px 50px;
}

Message .button-box button {
    background: #CE5611;
    border-radius: 17.5px;
    border: none;
    padding: 5px;
    margin: 0 12px 0 0;
    font: 15px "Metropolis Medium, Sans-Serif";
    box-shadow: 0 2px 4px 4px alpha(black,0.2);
}

Message .button-box button image,
Message .button-box button:hover image {
    -gtk-icon-shadow: none;
}

Message .button-box button:hover {
    background: #D56F34;
}

Message .button-box button:active {
    background: #Af490E;
}

Message .button-box button label {
    color: white;
    text-shadow: 0 0.5px 2px alpha(black,0.4);
    font-size: 15px;
    margin: 0 10px 0 5px;
    min-width: 60px
}

Message .button-box button.text-button label {
    margin: 0 10px;
    min-width: 85px
}

QuestSetButton {
    border: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    padding-bottom: 20px;
    background-image: radial-gradient(35% 8% ellipse at center 88%, alpha(black,0.4), transparent);
}

QuestSetButton:hover {
    background-image: radial-gradient(50% 10% ellipse at center 90%, alpha(#D9A784,0.9), alpha(white,0.001));
}


@keyframes pulsate_background {
    from { background-image: radial-gradient(35% 8% ellipse at center 88%, alpha(#D9A784,0.4), alpha(white,0.001)); }
    to { background-image: radial-gradient(50% 10% ellipse at center 90%, alpha(#D9A784,0.9), alpha(white,0.001)); }
}

QuestSetButton.highlighted {
  animation-name: pulsate_background;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

InventoryItem {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

InventoryItem > box > label {
    color: #fff;
    background: rgba(60, 60, 60, .6);
    border-radius: 16px;
    padding: 5px 10px;
    transition-duration: 0.2s;
}

InventoryItem:hover {
    -gtk-icon-effect: none;
}

InventoryItem:hover > box > label,
InventoryItem.active > box > label {
    background: rgba(60, 60, 60, .8);
}

InventoryItem.active {
    -gtk-icon-effect: dim;
}

.clubhouse-completed-episode-headline {
    font: 34px "Metropolis ExtraBold, Sans-Serif";
    font-weight: bold;
    color: #1c7c77;
    margin: 0 10px 164px 170px;
}

.clubhouse-completed-episode-title {
    font: 18px "Metropolis, Sans-Serif";
    font-weight: bold;
}

.clubhouse-completed-episode-title {
    margin: 0 40px 20px 40px;
}

.clubhouse-completed-episode-subtitle {
    font: 15px "Metropolis Medium, Sans-Serif";
}

.clubhouse-completed-episode-subtitle {
    margin: 0 40px 140px 40px;
}

.badge image {
    -gtk-icon-shadow: 0 5px 5px alpha(black,0.4);
}

window.poster {
    background: rgba(0,0,0,0.4) radial-gradient(1920px 1080px ellipse at center, alpha(black,0.2), alpha(black,0.8));
}

.poster .title {
    font: 40px "Metropolis, Sans-Serif";
    color: white;
    text-shadow: 1.5px 1.5px 2px rgba(17, 0, 55, 0.3);
}

.badge {
    border: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
}

.badge:hover {
    background-image: none;
}

.badge:hover image {
    -gtk-icon-shadow: 0 10px 10px alpha(black,0.4);
}

EpisodeRow, EpisodeRow:selected {
    background: transparent;
}

EpisodeRow .expand-button {
    background: rgba(239, 230, 218, 0.2);
    border: 0;
    border-radius: 0;
    box-shadow: 0 2px rgba(0, 0, 0, .1);
}

EpisodeRow:selected .expand-button {
    box-shadow: 0 1px rgba(0, 0, 0, .2);
}

EpisodeRow:selected .expand-button,
EpisodeRow:selected .expand-button:hover {
    background: rgba(239, 230, 218, 0.6);
}

EpisodeRow .details_box {
    background: rgba(239, 230, 218, 0.4);
}

EpisodeRow .expand-button:hover {
    background: rgba(239, 230, 218, 0.4);
}

EpisodeRow.locked .expand-button:hover {
    background: rgba(239, 230, 218, 0.2);
}

EpisodeRow .comingsoon-label,
EpisodeRow .description-label,
EpisodeRow .name-label,
EpisodeRow .number-label {
    color: #2a1e10;
    font: 16px "Metropolis Medium, Sans-Serif";
}

EpisodeRow .name-label {
    font-size: 26px;
    margin-left: 40px;
}

EpisodeRow .number-label {
    margin: 0 200px 10px 40px;
}

EpisodeRow .description-label {
    margin: 32px 80px 40px 40px;
}

EpisodeRow .comingsoon-label {
    background-image: url('resource:///com/hack_computer/Clubhouse/images/comingsoon_label_bg.png');
    background-repeat: no-repeat;
    min-height: 34px;
    min-width: 147px;
    font-style: italic;
    font-size: 18px;
}

EpisodeRow .progress-label  {
    color: #1e0c62;
    font: 28px "Metropolis, Sans-Serif";
    font-weight: bold;
}

/* Hack mode switch */
#hack-switch {
    padding: 2em;
    margin: 4em;
    background-color: lavender;
    border-radius: 1em;
    box-shadow:  2px 2px 3px black;
}

#hack-switch > label {
    font-size: 1.6em;
    font-weight: bold;
    padding: 1ex;
}

/* Hack switch pulsation */

#hack-switch.highlighted, #hack-switch.highlighted > switch {
  animation-name: pulsate_hack_switch;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes pulsate_hack_switch {
    from {
        box-shadow: 0 0 0px #ffc756;
    }
    to {
        box-shadow: 0 0 10px #ffc756;
    }
}

/* Disable text inside switch */
#hack-switch > switch {
    font-size: 0px;
}

/* User Hud */
.user-overlay {
    margin: 1em;
}

.user-overlay * {
    color: white;
    caret-color: white;
}

.user-bio-box {
    margin: 0.75em;
    border-radius: 2em;
    box-shadow: 1px 1px 2px black;
    background: linear-gradient(to bottom right, alpha(#FF6B00, 0.8), alpha(#FC444C, 0.8));
}

.user-overlay #user-label {
    margin: 1em 1em 1em 4.32em;
    font-size: 1.2em;
    font-weight: bold;
}

.user-overlay #user-bio-box {
    margin: 1em 2em;
}

.user-overlay #textview,
.user-overlay #textview > text {
    background: unset;
}

.user-overlay #image {
    min-width: 5em;
    min-height: 5em;
    border-radius: 50%;
    border: 0.2ex solid white;
    box-shadow:  1px 1px 2px #555;
    margin: 0 3px 3px 0; /* needed for the shadow */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

InventoryView > scrolledwindow {
    margin: 0 3em;
    background: lavender;
}

/* Header bar buttons */

.headerbar-buttonbox {
    min-height: 1.8em;
    margin: 2em 1ex;
    font-size: 1.4em;
    font-weight: bold;
}

/* For spacing */
.headerbar-buttonbox > label {
    margin: 0 1.5em;
}

.headerbar-buttonbox > button {
    color: white;
    text-shadow: none;
    border: 0;
    margin: 0;
    padding: 3px; /* this is the border offset for checked state and needs to be in pixels to avoid rounding errors */
    border-radius: 3em;
    box-shadow: 1px 1px 3px black;
    transition: none;
}

.headerbar-buttonbox > button:checked {
    padding: 0;
    border: 3px solid white;
}

.headerbar-buttonbox > button label {
    margin: 0 1em;
}

.headerbar-buttonbox > button {
    background: linear-gradient(to bottom right, alpha(#2D9B98, 0.8), alpha(#22597F, 0.8));
    transition: background-image 200ms linear;
}

.headerbar-buttonbox > button:hover {
    background: linear-gradient(to bottom right, #2D9B98, #22597F);
}

.headerbar-buttonbox > button:checked {
    background: linear-gradient(to bottom right, alpha(#2D9B98, 0.95), alpha(#22597F, 0.95));
}

.headerbar-buttonbox > button:first-child {
    background: linear-gradient(to bottom right, alpha(#37DCB1, 0.8), alpha(#2D9B98, 0.8));
}

.headerbar-buttonbox > button:first-child:hover {
    background: linear-gradient(to bottom right, #37DCB1, #2D9B98);
}

.headerbar-buttonbox > button:first-child:checked {
    background: linear-gradient(to bottom right, alpha(#37DCB1, 0.95), alpha(#2D9B98, 0.95));
}

.headerbar-buttonbox > button:last-child {
    background: linear-gradient(to bottom right, alpha(#22597F, 0.8), alpha(#181866, 0.8));
}

.headerbar-buttonbox > button:last-child:hover {
    background: linear-gradient(to bottom right, #22597F, #181866);
}

.headerbar-buttonbox > button:last-child:checked {
    background: linear-gradient(to bottom right, alpha(#22597F, 0.95), alpha(#181866, 0.95));
}

.headerbar-buttonbox.CHARACTER > button > box > label {
    margin: 0 2em 0 0;
}
.headerbar-buttonbox.CHARACTER > button > box > button > image {
    min-width: 1.8em;
    min-height: 1.8em;
    margin: -3px;
    margin-left: -2ex;
    margin-right: 1ex;
    border-radius: 50%;
    color: #37DCB1;
    background: white;
}

.headerbar-buttonbox.CHARACTER > button:first-child {
    border-radius: 3em 0 0 3em;
}

.headerbar-buttonbox.CHARACTER > button:last-child {
    border-radius: 0 3em 3em 0;
}

QuestRow {
   color: #4c82c4;
   font-size: 18px;
   font-weight: 600;
   padding-left: 1.5em;
   padding-right: 1.5em;
   margin: 0 0.8em 0 0.8em;
}

QuestRow:hover {
   background-color: rgba(246, 209, 165 ,0.5);
}

QuestRow.complete {
   font-weight: bold;
}

QuestRow.complete:hover {
   background-color: rgba(246, 209, 165 ,0.5);
   color: white;
   font-weight: bold;
}

QuestRow.highlighted {
  background-color: rgba(246, 209, 165 ,0.5);
  color: white;
  font-weight: bold;
  animation-name: pulsate_quest_row;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes pulsate_quest_row {
    from {
        background-color: rgba(255, 207, 92 ,0.5);
        box-shadow: 0 0 0.5em rgba(255, 207, 92 ,0.5);
    }
    to {
        background-color: rgba(255, 207, 92 ,0.5);
        box-shadow: 0 0 0.5em 0.2em rgba(255, 207, 92 ,0.5);
    }
}

/* Character View */
CharacterView list {
    background-color: unset;
}

CharacterView  #mission-list {
    margin: 8em 3em 3em 0;
    padding: 1em 1ex;
    border: 1px solid gray;
    box-shadow: 3px 3px 4px black;
    background: rgba(255, 255, 255, 0.82);
}

CharacterView  #mission-list > label {
    font-size: 1.8em;
    font-weight: bold;
    color: #4c82c4;
}

/* Pathways View */
ClubhouseWindow.small PathwayList {
    min-height: 15em;
}

PathwayList {
    min-height: 18em;
}

ClubhouseWindow.big PathwayList {
    min-height: 21em;
}

PathwaysView {
  margin-top: 6em;
}

PathwaysView scrollbar,
PathwaysView > viewport
{
    border: 0;
    background: unset;
}

PathwayList,
PathwayIcon,
PathwaysView > viewport > box > label {
    font-size: 1.5em;
    font-weight: bold;
    color: #4c82c4;
}

PathwayList {
    border-radius: 1ex 1ex 0 0;
    background-color: white;
    box-shadow: 0px 1px 2px black;
    margin: 1ex;
}

PathwayList > box {
    border-radius: 1ex 1ex 0 0;
    padding: 1ex 1em 1ex 1em;
    background-color: lavender;
}

PathwayList > box > label {
    margin-left: 1em;
}

PathwayIcon {
    background-color: white;
    padding: 1em;
    margin: 1ex;
}

/* News Page */
NewsView > box {
    background: rgba(255, 255, 255, 0.8);
    padding: 1em 0;
    border-radius: 0 1em 1em 0
}

NewsView > box > * {
    margin: 0.8em 0.5em;
}

NewsView > scrolledwindow {
    margin: 7em 0 1em 0;
    background: rgba(255, 255, 255, .8);
    box-shadow: 3px 3px 4px black;
}

NewsItem {
    margin: 1ex 3em;
    padding: 1em;
    border-radius: 1ex;
    background: white;
    box-shadow: 1px 1px 2px gray;
}

NewsItem > box {
    margin: 0 1em;
}

NewsItem > box > label {
    margin: 1em 0;
}

NewsItem > image {
    min-width: 96px;
    min-height: 96px;
    border-radius: 1ex;
    background: lavender;
    box-shadow: 0 0 3px gray inset;
}

