/* Menu popovers */
popover.menu {
    background-color: transparentize(white, 0.1)
}

popover.menu > stack > box > button {
    font-size: 1.4em;
    padding: 1ex 1em;
}

    popover.menu > stack > box > button:hover {
    background: linear-gradient(to bottom right, transparentize(#2D9B98, 0.7), transparentize(#22597F, 0.7));
}

popover.menu > stack > box > button > box > image {
    -gtk-icon-shadow: none;
    margin-right: 1ex;
    color: #4387c5;
}
