/* Menu popovers */
popover.menu {
    background-color: transparentize(white, 0.1)
}

popover.menu > stack > box > button {
    font-size: 1.4em;
    padding: 1ex 1em;
}

    popover.menu > stack > box > button:hover {
    background: linear-gradient(to bottom right, transparentize(#2D9B98, 0.7), transparentize(#22597F, 0.7));
}

popover.menu > stack > box > button > box > image {
    -gtk-icon-shadow: none;
    margin-right: 1ex;
    color: #4387c5;
}

/* User Hud */
.user-overlay {
   margin: 0em;
}

.user-overlay #user-label {
    margin: 1em 1em 1em 4.32em;
    font-size: 1.2em;
    font-weight: bold;
}

#image.user-overlay {
    margin: 1em;
    min-width: 5em;
    min-height: 5em;
    border-radius: 50%;
    border: 0.2ex solid white;
    box-shadow:  1px 1px 2px #555;
    background-color: #2D9B98;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#image.user-overlay > label {
    font-size: 2em;
    font-weight: bold;
}

/* Header bar buttons */

.headerbar-buttonbox {
    min-height: 1.8em;
    margin: 2em 1ex;
    font-size: 1.4em;
    font-weight: bold;
}

/* For spacing */
.headerbar-buttonbox > label {
    margin: 0 1.5em;
}

.headerbar-buttonbox > button {
    color: white;
    text-shadow: none;
    border: 0;
    margin: 0;
    padding: 3px; /* this is the border offset for checked state and needs to be in pixels to avoid rounding errors */
    border-radius: 3em;
    box-shadow: 1px 1px 3px black;
    transition: none;
}

.headerbar-buttonbox > button:checked {
    padding: 0;
    border: 3px solid white;
}

.headerbar-buttonbox > button label {
    margin: 0 1em;
}

.headerbar-buttonbox > button {
    background: linear-gradient(to bottom right, transparentize(#2D9B98, 0.2), transparentize(#22597F, 0.2));
    transition: background-image 200ms linear;
}

.headerbar-buttonbox > button:hover {
    background: linear-gradient(to bottom right, #2D9B98, #22597F);
}

.headerbar-buttonbox > button:checked {
    background: linear-gradient(to bottom right, transparentize(#2D9B98, 0.05), transparentize(#22597F, 0.05));
}

.headerbar-buttonbox > button:first-child {
    background: linear-gradient(to bottom right, transparentize(#37DCB1, 0.2), transparentize(#2D9B98, 0.2));
}

.headerbar-buttonbox > button:first-child:hover {
    background: linear-gradient(to bottom right, #37DCB1, #2D9B98);
}

.headerbar-buttonbox > button:first-child:checked {
    background: linear-gradient(to bottom right, transparentize(#37DCB1, 0.05), transparentize(#2D9B98, 0.05));
}

.headerbar-buttonbox > button:last-child {
    background: linear-gradient(to bottom right, transparentize(#22597F, 0.2), transparentize(#181866, 0.2));
}

.headerbar-buttonbox > button:last-child:hover {
    background: linear-gradient(to bottom right, #22597F, #181866);
}

.headerbar-buttonbox > button:last-child:checked {
    background: linear-gradient(to bottom right, transparentize(#22597F, 0.05), transparentize(#181866, 0.05));
}

.headerbar-buttonbox.CHARACTER > button > box > label {
    margin: 0 1em 0 0;
}

.headerbar-buttonbox.CHARACTER > button > box > button > image {
    min-width: 1.8em;
    min-height: 1.8em;
    margin: -3px;
    margin-left: -2ex;
    margin-right: 1ex;
    border-radius: 50%;
    color: #37DCB1;
    background: white;
}

.headerbar-buttonbox.CHARACTER > button:first-child {
    border-radius: 3em 0 0 3em;
}

.headerbar-buttonbox.CHARACTER > button:last-child {
    border-radius: 0 3em 3em 0;
}

