/* Menu popovers */
popover.menu {
    background-color: transparentize(white, 0.1)
}

popover.menu > stack > box > button {
    font-size: 1.4em;
    padding: 1ex 1em;
}

    popover.menu > stack > box > button:hover {
    background: linear-gradient(to bottom right, transparentize(#2D9B98, 0.7), transparentize(#22597F, 0.7));
}

popover.menu > stack > box > button > box > image {
    -gtk-icon-shadow: none;
    margin-right: 1ex;
    color: #4387c5;
}

/* User Hud */
.user-overlay {
   margin: 0em;
}

.user-overlay #user-label {
    margin: 1em 1em 1em 4.32em;
    font-size: 1.2em;
    font-weight: bold;
}

#image.user-overlay {
    margin: 1em;
    min-width: 5em;
    min-height: 5em;
    border-radius: 50%;
    border: 0.2ex solid white;
    box-shadow:  1px 1px 2px #555;
    background-color: #2D9B98;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#image.user-overlay > label {
    font-size: 2em;
    font-weight: bold;
}
