[Common]

## Install in the system after building. This is the default:

# install = yes

## Build a flatpak bundle. By default is not installed:

# bundle = no

## By default a flatpak with branch name 'master' will be built, from
## the master git branches of each module. This flag changes that to
## build a flatpak with branch name 'stable' from the stable git
## branches of each module. But see the Modules section below, since
## any customization overrides this to build a flatpak with branch
## name 'custom'.

# stable = no

## Reload the Game State Service after install. By default it is
## reloaded.

# reload-gss = yes

## Quit the Clubhouse after install. By default it quits.

# quit-clubhouse = yes

## Build the clippy extension as part of the clubhouse build process

# build-extension = yes

## Build offline. This tweaks a number of other settings to allow
## building offline. It requires a previous build with similar
## settings, otherwise the modules won't be cached.

# offline = no

## Add commit hash to modules repositories

# add-commit = no
# template-branch = '@BRANCH@'
# template-modules-branch = '@BRANCH@'

[Modules]

## These are the modules you want to customize. Setting any of these
## will create a flatpak with branch name 'custom'. There are
## different formats you can pass to customize the module from a git
## repository or a local directory:

clubhouse = .

## Format 1, pass a git branch:
#clubhouse = hack2

## Format 2, pass a git url:
# clubhouse = https://github.com/manuq/clubhouse.git

## Format 3, pass a git url plus a git branch:
# clubhouse = https://github.com/manuq/clubhouse.git:hack2

## Format 4, pass a local directory that contains a git checkout. In
## this case, the changes don't need to be commited.
# clubhouse = ~/checkout/clubhouse

## Here is a list of all valid modules:

# hack-sound-server = custom
# hack-toolbox-app = custom
# hack-toy-apps = custom
# hack-game-state-service = custom
# clubhouse = custom

[clubhouse]

## Skip steps when building the Clubhouse module:

# run_lint = yes
# run_tests = yes
# matomo_host = http://matomo.test.endlessos.org
# matomo_site = 1

[Advanced]

## Change the repository name:

# repo = my-repo

## Force the flatpak branch name:

# branch = my-branch

## Add extra options to flatpak-builder:

# extra_build_options = --user --install --disable-download

## Add extra options to flatpak install:

# extra_install_options = --no-deps --assumeyes
